@charset "UTF-8";

/*
#A77B54
#7D552F
#181C20 azul
#E89022 amarelo
#0C2145
#BD7312
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #181C20;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #E89022;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.401);
}

section#Login > div#imagem {
    display: block;
    background: #181C20 url(../imagens/pexels-eva-bronzini-6485506\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}