@charset "UTF-8";

/*
#A77B54
#7D552F
#181C20 azul
#E89022 amarelo
#0C2145
#BD7312
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #181C20;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#Login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: #E89022;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.401);

    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#Login > div#imagem {
    display: block;
    background: #181C20 url(../imagens/pexels-eva-bronzini-6485506\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#Login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #181C20;
    border: 2px solid #181C20;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    /*background-color: #181C20;*/
    font-size: 2em;
    width: 30px;
    padding: 5px;
}

div.campo > input {
    background-color: #22282d00;
    font-size: 1em;
    width: calc(100% - 36px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #181C20;
    color: white;border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #0C2145;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #181C20;
    border: 1px solid #0C2145;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

form > a.botao:hover {
    background-color: #0C2145;
}

form > a.botao > span {
    font-size: 0.8em;
}